@model Application.Admin.Commands.CreateEmployee.CreateEmployeeCommand
@{
    ViewData["Title"] = "Create";
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);margin-top:90px; ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Create</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
            <span class="contact100-form-title">
                Create a new employee
            </span>

            <label class="label-input100" for="phone">Middle name</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">EGN</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="">
                <span class="focus-input100"></span>
            </div>


            <label class="label-input100" for="phone">User</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="">
                <span class="focus-input100"></span>
            </div>



            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Create
                </button>
            </div>
        </form>

        <div class="contact100-more flex-col-c-m" style="background-image: url(img/HomePage/bg-01.jpg);">
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
