@model Application.Admin.Commands.EditEmployee.EditEmployeeCommand
@{
    ViewData["Title"] = "Edit";
    var employee = ViewData["Employee"] as EmployeeVm;
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);margin-top:90px; ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Edit</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-contact100">
    <div class="wrap-contact100">
        <form asp-action="Create" class="contact100-form validate-form">
            <span class="contact100-form-title">
                Edit
            </span>
            <input asp-for="Id" type="hidden" value="@employee.Id" class="form-control" />

            <label asp-for="MiddleName" class="label-input100">Middle name</label>
            <div class="wrap-input100">
                <input asp-for="MiddleName" class="input100">
                <span asp-validation-for="MiddleName" class="focus-input100"></span>
            </div>

            <label asp-for="EGN" class="label-input100">EGN</label>
            <div class="wrap-input100">
                <input asp-for="EGN" class="input100">
                <span asp-validation-for="EGN" class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Create
                </button>
            </div>
        </form>

        <div class="contact101-more flex-col-c-m" style="background-image: url(img/HomePage/employee.jpg);">
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main-contacts.css">
}