<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Hotel Reservation</title>
    <base href="~/">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    @RenderSection("Styles", required: false)
    <link href="node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
    <link href="node_modules\owl.carousel\dist\assets\owl.carousel.min.css" rel="stylesheet" />
    <link href="css/core-style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <partial name="_Header" />

    @RenderBody()

    <partial name="_Footer" />

    <script src="node_modules\jquery\dist\jquery.min.js"></script>
    <script src="node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    <script src="node_modules\owl.carousel\dist\owl.carousel.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="js/active.js"></script>
</body>
</html>