@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);margin-top:90px; ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Sign in</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form method="post" class="contact100-form validate-form">
            <span class="contact100-form-title">
                Member Login
            </span>

            <label asp-for="Input.Username" class="label-input100">Username</label>
            <div class="wrap-input100">
                <input asp-for="Input.Username" class="input100">
                <span asp-validation-for="Input.Username" class="focus-input100"></span>
            </div>

            <label asp-for="Input.Password" class="label-input100">Password</label>
            <div class="wrap-input100">
                <input asp-for="Input.Password" class="input100">
                <span asp-validation-for="Input.Password" class="focus-input100"></span>
            </div>

            <div class="form-group row mt-30 ml-1">
                <div class="col">Remember me</div>
                <div>
                    <div class="form-check">
                        <input asp-for="Input.RememberMe" class="form-check-input">
                    </div>
                </div>
            </div>

            <div class="label-input100">
                <div class="g-recaptcha" data-sitekey="@ViewData["recaptcha"]"></div>
                <span asp-validation-for="Input.Recaptcha" class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Login
                </button>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="contact100-form-btn ml-1 bg-warn">
                    Register
                </a>
            </div>

        </form>

        <div class="contact100-more flex-col-c-m" style="background-image: url(img/HomePage/bg-01.jpg);">
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main-contacts.css">
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
}