@model Application.Employees.Commands.CreateHotelRoom.CreateHotelRoomCommand
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateHotelRoomCommand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <select asp-for="RoomType" class="form-control">
                    @{
                        var enums = (RoomType[])Enum.GetValues(typeof(RoomType));
                        for (int i = 0; i < enums.Length; i++)
                        {
                            <option value="@i">@string.Join(' ', Regex.Split(enums[i].ToString(), "(?<!^)(?=[A-Z0-9])"))</option>
                        }
                    }
                </select>
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceForAdults" class="control-label"></label>
                <input asp-for="PriceForAdults" class="form-control" />
                <span asp-validation-for="PriceForAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceForChildren" class="control-label"></label>
                <input asp-for="PriceForChildren" class="form-control" />
                <span asp-validation-for="PriceForChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
