@model Application.Employees.Commands.CreateHotelRoom.CreateHotelRoomCommand
@{
    ViewData["Title"] = "Create";
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);margin-top:90px; ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Create</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
            <span class="contact100-form-title">
                Create a hotel room
            </span>

            <label class="label-input100" for="phone">Capacity</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">Room type</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">Price for adults</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">Price for children</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">Room number</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="">
                <span class="focus-input100"></span>
            </div>


            <div class="form-group mt-3 ml-1">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>


            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Create
                </button>
            </div>
        </form>

        <div class="contact101-more flex-col-c-m" style="background-image: url(img/HomePage/hotelroom.jpg);">
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Styles {
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main-contacts.css">
    <!--===============================================================================================-->
}