@model Application.Employees.Commands.CreateHotelRoom.CreateHotelRoomCommand
@{
    ViewData["Title"] = "Create";
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);margin-top:90px; ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Create</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form asp-action="Create" class="contact100-form validate-form" enctype="multipart/form-data">
            <span class="contact100-form-title">
                Create a hotel room
            </span>

            <label asp-for="Name" class="label-input100">Name</label>
            <div class="wrap-input100">
                <input asp-for="Name" class="input100">
                <span asp-validation-for="Name" class="focus-input100"></span>
            </div>

            <label asp-for="Capacity" class="label-input100">Capacity</label>
            <div class="wrap-input100">
                <input asp-for="Capacity" class="input100">
                <span asp-validation-for="Capacity" class="focus-input100"></span>
            </div>

            <label asp-for="RoomType" class="label-input100">Room type</label>
            <div class="wrap-input100">
                <select asp-for="RoomType" class="form-control">
                    @{
                        var enums = (RoomType[])Enum.GetValues(typeof(RoomType));
                        for (int i = 0; i < enums.Length; i++)
                        {
                            <option value="@i">@string.Join(' ', Regex.Split(enums[i].ToString(), "(?<!^)(?=[A-Z0-9])"))</option>
                        }
                    }
                </select>
                <span asp-validation-for="RoomType" class="focus-input100"></span>
            </div>

            <label asp-for="PriceForAdults" class="label-input100">Price for adults</label>
            <div class="wrap-input100">
                <input asp-for="PriceForAdults" class="input100">
                <span asp-validation-for="PriceForAdults" class="focus-input100"></span>
            </div>

            <label asp-for="PriceForChildren" class="label-input100">Price for children</label>
            <div class="wrap-input100">
                <input asp-for="PriceForChildren" class="input100">
                <span asp-validation-for="PriceForChildren" class="focus-input100"></span>
            </div>

            <label asp-for="RoomPrice" class="label-input100">RoomPrice</label>
            <div class="wrap-input100">
                <input asp-for="RoomPrice" class="input100">
                <span asp-validation-for="RoomPrice" class="focus-input100"></span>
            </div>  

            <label class="label-input100" for="phone">Room number</label>
            <div class="wrap-input100">
                <input asp-for="RoomNumber" class="input100">
                <span asp-validation-for="RoomNumber" class="focus-input100"></span>
            </div>


            <div class="form-group mt-3 ml-1">
                <label asp-for="Images">Example file input</label>
                <input asp-for="Images" class="form-control-file">
            </div>


            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Create
                </button>
            </div>
        </form>

        <div class="contact101-more flex-col-c-m" style="background-image: url(img/HomePage/hotelroom.jpg);">
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Styles {
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main-contacts.css">
    <!--===============================================================================================-->
}