@model Application.Reservations.Queries.Checkout.CheckoutResponse
@{
    ViewData["Title"] = "Checkout";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe name="sc_frame" class="mt-100 w-100 embed-responsive-item" src="@Model.Url"></iframe>
</div>

<script>
    (function () {
        if (window.addEventListener) {
            window.addEventListener("message", recievedMessage, false);
        } else {
            window.attachEvent("onmessage", recievedMessage);
        }

        let id;

        function recievedMessage(message) {
            const data = JSON.parse(message.data);
            console.log(message);
            if (data === "success") {
                document.location.href = document.location.origin + '/Reservation/Complete/' + id;
            }
            else if (data === "backToMerchantSite") {
                document.location.href = document.location.origin;
            }
            else if (typeof data == 'object' && data.id) {
                id = data.id;
            }
        }
    })();
</script>