@using Application.Home.Queries.GetHotelRoom
@model Application.Reservations.Commands.CreateReservation.CreateReservationCommand
@{
    ViewData["Title"] = "Create";
    var room = ViewData["Room"] as GetHotelRoomResponse;
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);margin-top:90px; ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Create reservation</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-contact100">
    <div class="wrap-contact100">
        <form asp-action="Create" class="contact100-form validate-form">
            <span class="contact100-form-title">
                Create a new reservation
            </span>
            <input asp-for="RoomId" type="hidden" class="form-control" value="@room.Room.Id" />

            <label asp-for="From" class="label-input100">From</label>
            <div class="wrap-input100">
                <input asp-for="From" type="date" class="input100">
                <span asp-validation-for="From" class="text-danger"></span>
            </div>

            <label asp-for="To" class="label-input100">To</label>
            <div class="wrap-input100">
                <input asp-for="To" type="date" class="input100">
                <span asp-validation-for="To" class="text-danger"></span>
            </div>

            @if (room.Room.RoomPrice == null)
            {
                <label asp-for="Children" class="label-input100">Children</label>
                <div class="wrap-input100">
                    <input asp-for="Children"  class="input100">
                    <span asp-validation-for="Children" class="text-danger"></span>
                </div>

                <label asp-for="Adults" class="label-input100">Adults</label>
                <div class="wrap-input100">
                    <input asp-for="Adults" class="input100">
                    <span asp-validation-for="Adults" class="text-danger"></span>
                </div>
            }

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Create
                </button>
            </div>
        </form>

        <div class="contact101-more flex-col-c-m" style="background-image: url(img/HomePage/employee.jpg);">
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main-contacts.css">
}