@model Application.Reservations.Queries.Reservations.ReservationsResponse
@{
    ViewData["Title"] = "Index";
}

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);margin-top: 100px;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Reservations list</h2>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- ##### List Area ##### -->
<div class="card bd-0 shadow-base pd-30 mg-t-20">
    <div class="d-flex align-items-center justify-content-between mg-b-30">
        <div>
            <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">List of reservations</h6>
        </div>
   
    </div><!-- d-flex -->

    <table class="table table-valign-middle mg-b-0">
        <tbody>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td class="pd-l-0-force">
                        <img src="@reservation.ReservedRoom.Image" class="wd-40 rounded-circle" alt="">
                    </td>
                    <td>
                        <h6 class="tx-inverse tx-14 mg-b-0">@reservation.ReservedRoom.Name</h6>
                        <span class="tx-12"></span>
                    </td>
                    <td>@reservation.ReservedForDate</td>
                    <td>@reservation.ReservedUntilDate</td>
                    <td class="pd-r-0-force tx-center">
                        <a href="" class="tx-gray-600"><i class="icon ion-more tx-18 lh-0"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Styles {
    <link href="lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="lib/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="lib/chartist/chartist.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bracket.css">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main-contacts.css">

}