@model Application.Home.Queries.Checkout.CheckoutResponse
@{
    ViewData["Title"] = "Checkout";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="mt-100 w-100 embed-responsive-item" src="@Model.Url"></iframe>
</div>